h1 {
	margin-top: 0;
	padding-top: 1em;
}

#interactionArea {
	background: silver;
	height: 300px;
	text-align: center;
	font: 30px/300px Helvetica, Arial, sans-serif;
}

#shapeArea {
	height: 1000px;
	width: 1000px;
}